.App {
  text-align: center;
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 170px;
}

.header{
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  letter-spacing: -.05rem;
  color: #ffff00;
  margin-bottom:100px;
}

.sectionheader{
  color: white;
  font-weight: bolder;  
}

.sectionheaderdeliverables{
  color: white;
  font-weight: bolder;
  margin: 70px 0 20px 0;
}

.sectiontext{
  color:white;
  text-align: justify;
}

.rowstyle{
  margin-bottom: 80px;
}

.staffholder{
  margin: 0 auto;
  width: 75%;
}

.card{
  margin: 25px 0 25px 0;
  width: 180px;
}

.spacer{
  height:170px;
}

.stockimage{
  width: 60vw;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .stockimage {
    width:500px;
  }
}